---
import IconGithub from 'src/icons/IconGithub.astro';
import IconLinkedin from 'src/icons/IconLinkedin.astro';
---

<footer class="hero container py-6">
   <div>
      <div class="flex justify-center">
         <a
            class="btn hover:text-primary border-none px-[1rem]"
            href="https://github.com/L-Blondy"
            aria-label="GitHub"
            rel="noopener noreferrer"
            target="_blank"
         >
            <IconGithub class="flex-shrink-0" />
         </a>
         <a
            class="btn hover:text-primary border-none px-[1rem]"
            href="https://www.linkedin.com/in/blondy"
            aria-label="Linkedin"
            rel="noopener noreferrer"
            target="_blank"
         >
            <IconLinkedin class="flex-shrink-0" />
         </a>
      </div>
      <div class="font-mono text-sm xs:text-base text-center">
         Designed & built by Laurent Blondy
      </div>
   </div>
</footer>
