---
import { TABPANEL_ID } from './const';
---

<div class="tabgroup">
   <ul role="tablist"><slot /></ul>
   <div role="tabpanel" id={TABPANEL_ID}></div>
</div>

<style>
   .tabgroup {
      @apply flex flex-col md:flex-row;
   }

   ul[role='tablist'] {
      @apply flex md:flex-col;
   }

   div[role='tabpanel'] {
      @apply flex-grow px-1 pt-8 md:pl-8 md:py-2;
   }
</style>
