<section class="grid place-items-center min-h-screen">
   <div class="container">
      <div class="flex flex-col items-start gap-5 w-full">
         <p class="font-mono text-primary font-medium">Hi, my name is</p>

         <h1 class="leading-[1] font-bold">
            <div class="mb-4 text-base-content-focus">Laurent Blondy.</div>
            <div>I build things for the web.</div>
         </h1>

         <p class="max-w-[540px] leading-7">
            I’m a software engineer specializing in building (and occasionally
            designing) exceptional digital experiences. Currently, I’m focused
            on building accessible, human-centered products at Upstatement.
         </p>

         <a
            href="#contact"
            class="btn btn-outlined bg-opacity-100 mt-8 font-mono"
         >
            Get in touch!
         </a>
      </div>
   </div>
</section>

<style>
   h1 {
      font-size: clamp(34px, 7.5vw, 66px);
   }
</style>
