---
import Contact from 'src/sections/contact/Contact.astro';
import Experience from 'src/sections/experience/Experience.astro';
import Footer from 'src/sections/footer/Footer.astro';
import Hero from 'src/sections/hero/Hero.astro';
import Navbar from 'src/sections/navbar/Navbar.astro';
import Projects from 'src/sections/projects/Projects.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
   <Navbar />
   <main>
      <Hero />
      <Experience />
      <Projects />
      <Contact />
   </main>
   <Footer />
</Layout>
