---
import SwitchTheme from './SwitchTheme.astro';
---

<nav class="absolute top-0 left-0 right-0">
   <div class="container grid grid-cols-2 items-center h-16">
      <div class="justify-self-start">Nav</div>
      <div class="justify-self-end">
         <SwitchTheme />
      </div>
   </div>
</nav>
