---
import BurgerMenu from './BurgerMenu.astro';
import NavLinks from './NavLinks.astro';
import SwitchTheme from './SwitchTheme.astro';
---

<nav class="absolute top-0 left-0 right-0">
   <div class="container flex justify-between items-center h-16">
      <div>Nav</div>

      <div class="hidden sm:flex items-center">
         <SwitchTheme class="text-base-content mr-6" />
         <NavLinks />
      </div>

      <div class="sm:hidden flex items-center">
         <SwitchTheme class="text-base-content mr-6" />
         <BurgerMenu />
      </div>
   </div>
</nav>
