---
import BurgerMenu from './BurgerMenu.astro';
import NavLinks from './NavLinks.astro';
import SwitchTheme from './SwitchTheme.astro';
---

<nav class="absolute top-0 left-0 right-0 z-10">
   <div class="px-6 md:px-10 flex justify-between items-center h-16">
      <input autofocus />
      <a href="#">Nav</a>

      <div class="hidden md:flex items-center">
         <SwitchTheme class="text-base-content mr-6" />
         <NavLinks />
      </div>

      <div class="md:hidden flex items-center">
         <SwitchTheme class="text-base-content mr-6" />
         <BurgerMenu />
      </div>
   </div>
</nav>
