---
import { HTMLAttributes } from 'astro/types';
import { SECTION_ID } from '../const';

export interface Props extends HTMLAttributes<'ul'> {}
---

<ul {...Astro.props}>
   <li><a href={`#${SECTION_ID.EXPERIENCE}`}>Experience</a></li>
   <li><a href={`#${SECTION_ID.PROJECTS}`}>Projects</a></li>
   <li><a href={`#${SECTION_ID.CONTACT}`}>Contact</a></li>
</ul>

<style>
   ul {
      counter-reset: navlink;
      @apply flex text-sm;
   }

   li {
      @apply flex items-center;
   }

   a {
      @apply p-2.5
			hover:text-primary
			font-medium
			transition-colors;
   }

   a::before {
      counter-increment: navlink;
      content: '0' counter(navlink) '.';
      @apply font-mono
			text-primary 
			pr-1;
   }
</style>
