---
import { HTMLAttributes } from 'astro/types';
import { SECTION_ID } from '../const';

export interface Props extends HTMLAttributes<'ul'> {}
---

<ul {...Astro.props}>
   <li><a href={`#${SECTION_ID.EXPERIENCE}`}>Experience</a></li>
   <li><a href={`#${SECTION_ID.PROJECTS}`}>Projects</a></li>
   <li><a href={`#${SECTION_ID.CONTACT}`}>Contact</a></li>
   <a
      class="btn-outlined sm:px-4 sm:py-0 sm:h-10 ml-3 inherit"
      href="public/curriculum-laurent_blondy-ENG.pdf"
      target="_blank"
      rel="noopener noreferrer"
      hreflang="en"
   >
      Resume
   </a>
</ul>

<style>
   ul {
      counter-reset: navlink;
      @apply flex text-sm;
   }

   li {
      @apply flex items-center;
   }

   a {
      font-size: inherit !important;
   }

   li a {
      @apply px-3
         h-10
         flex
         items-center
			hover:text-primary
			font-medium
			transition-colors;
   }

   li a::before {
      counter-increment: navlink;
      content: '0' counter(navlink) '.';
      @apply font-mono
			text-primary 
			pr-1;
   }
</style>
