---
import { HTMLAttributes } from 'astro/types';

export interface Props extends HTMLAttributes<'section'> {}
---

<section
   {...Astro.props}
   class={`container opacity-0 animation-duration-1000 ${Astro.props.class}`}
   on-visible="this.classList.add('animate-slide-in-bottom')"
   off-visible="this.classList.remove('animate-slide-in-bottom')"
   on-visible-root-margin="200px 0px -200px 0px"
>
   <slot />
</section>
