---
import { HTMLAttributes } from 'astro/types';
import { cn } from 'src/utils';
import { SECTION_ID } from './const';

export interface Props extends HTMLAttributes<'section'> {
   id: SECTION_ID;
}
---

<section
   {...Astro.props}
   class={cn`
      container
      opacity-0
      animation-duration-1000
      ${Astro.props.class}
   `}
   on-visible="this.classList.add('animate-slide-in-bottom')"
   off-visible="this.classList.remove('animate-slide-in-bottom')"
   on-visible-root-margin="200px 0px -200px 0px"
>
   <slot />
</section>

<style>
   section {
      padding-top: 4rem;
      padding-bottom: 4rem;
   }

   @media (min-width: 480px) {
      section {
         padding-top: 5rem;
         padding-bottom: 5rem;
      }
   }
</style>
